@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

main {
    background-color: white;
    width: 680px;
    height: 560px;
    margin: auto;
    border: solid 1px black;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.tittle {
    padding-top: 40px;
    text-align: center;
}

.tittle p {
    font-weight: 600;
    margin-bottom: 40px;
}

label {
    font-size: 20px;
}

input {
    width: 600px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 12px;
    border: none;
    border-bottom: solid 2px black;
}

button {
    margin-top: 12px;
    margin-bottom: 20px;
    height: 36px;
    width: 150px;
    background-color: blueviolet;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 16px;
}